@import "/src/variables.css";

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text_border {
	text-shadow: 0.1px 0.1px 0px #000, -0.1px -0.1px 0px #000;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"slogan title"
		"slogan description"
		"slogan call_out";
}

.slogan {
	grid-area: slogan;

	color: var(--secondary-color);
	font-size: var(--font-size-xl);
}

.title {
	grid-area: title;

	color: var(--white-color);
	font-size: var(--font-size-l);
}

.description {
	grid-area: description;

	color: var(--white-color);
	font-size: var(--font-size-s);
}

.call_out {
	grid-area: call_out;
}

@media (max-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"slogan"
			"title"
			"description"
			"call_out";
	}
}
