@import "/src/variables.css";

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	background-color: var(--primary-color);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"title photo"
		"description photo";
}

.title {
	grid-area: title;

	color: var(--white-color);
	font-size: var(--font-size-l);
}

.description {
	grid-area: description;

	color: var(--white-color);
	font-size: var(--font-size-s);
}

.photo {
	grid-area: photo;
}
