@import "/src/variables.css";

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	--padding: 20px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"photo title"
		"photo description";
}

.title {
	grid-area: title;
	padding: var(--padding);

	color: var(--white-color);
	font-size: var(--font-size-l);
}

.description {
	grid-area: description;
	padding: var(--padding);

	color: var(--white-color);
	font-size: var(--font-size-s);
}

.photo {
	grid-area: photo;
}

@media (max-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 50px 1fr 300px;
		grid-template-areas:
			"title"
			"description"
			"photo";
	}

	.photo {
		padding: 200px 0px;

		background-color: var(--quaternary-color);
	}
}
